
.btn {
  width : 100%;
}

.btn-red {
    background-color: #FF0000 !important ;
    color: white !important;
}

.btn-blue {
    background-color: #00FFFF !important;
    color: white !important;
}

.btn-green {
    background-color: #66FF00 !important;
    color: white !important;
}

.btn-yellow {
    background-color: #FFF000 !important;
    color: white !important;
}

.btn-white {
    background-color: white !important;
    color: black !important;
    border-color: black !important;
}

.drag-me-group {
    position: absolute;
    cursor: move;
}

.bs-tooltip-auto[x-placement^=bottom] .arrow::before,
.bs-tooltip-bottom .arrow::before {
  border-bottom-color: #f00; /* Red */
}









